.contact-container {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    line-height: 1.6;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f5ebe0;
    width: 1230px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Added spacing between sections */
}

.contact-heading {
    text-align: center;
    color: #d5bdaf;
}

.contact-description {
    margin-bottom: 20px;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-item {
    margin-bottom: 10px;
}

.contact-link {
    color: #d5bdaf;
    text-decoration: none;
    font-weight: bold;
}

.contact-link:hover {
    text-decoration: underline;
}

/* Form styles */
.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-heading {
    margin-bottom: 15px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: none;
    height: 100px;
}

.form-submit {
    padding: 10px 20px;
    background-color: #d5bdaf;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-submit:hover {
    background-color: #bfa28b;
}
