/* Basic reset and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #fcf1f1;
  color: #2D3748;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.Title {
  color: rgb(83, 45, 45);
  background-color: rgb(253, 237, 237);
  font-size: 1.5em;
}

.logo img {
  height: 50px;
  display: block;
}

/* Logo Container */
.nav-container1 {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(253, 237, 237);
}

/* Navigation Container */
.nav-container {
  display: flex;
  justify-content: center;
  background-color: rgb(77, 19, 24);
  padding: 10px 0;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a:hover {
  color: #F4EDD3;
  background-color: black;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #2D3748;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #d5bdaf;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    width: 100%;
    text-align: center;
  }

  .nav-links a {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    background-color: #63B3ED;
    color: #FFFFFF;
  }

  .nav-links a:hover {
    background-color: #3182CE;
    color: #FFFFFF;
  }
}
