/* Carousel Container */
.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.carousel {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
    border-radius: 8px;
}

.carousel-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Carousel Buttons */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
